
<h6><i>{{message.m}} / current user: {{userInfo.userName}}   <a ng-click="logout()" class="btn btn-link">Logout</a></i></h6>
<div  class="navbar" >
    <div class="navbar-inner">
    <!--    <a class="brand" href="#">SMS Portal</a> -->
     
      <ul class="nav">
        <li><a ui-sref="home">Home</a></li>
		<li><a ui-sref=".partner">Partner</a></li>
		<li><a ui-sref=".issuer">Issuer</a></li>
		<li><a ui-sref=".account">Account</a></li>
        <li><a ui-sref=".report">Report</a></li>
      </ul>
     </div>	
    </div>
 
<!-- <body class="container"> -->

 <div class="row">
	<div class="span12">	
	  	
		<div ui-view></div>
	
	</div>
</div>
 
