This view is to be added under ADMIN ONLY after user-role implementation.</br>
<div ng-hide="!issuers">
<section ng-controller="SortController">
  <span class="label">Ordered By: {{orderByField}}</span><br><br>
  <table id="issuerList" class="table table-bordered"><!--  border="1">-->
    <thead>
      <tr>
        <th>
          <a href="" ng-click="orderByField='issuerName'; reverseSort = !reverseSort">
          Issuer Name <span ng-show="orderByField == 'issuerName'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="orderByField='entityName'; reverseSort = !reverseSort">
          Entity Name <span ng-show="orderByField == 'entityName'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="orderByField='attributeName'; reverseSort = !reverseSort">
          Attribute Name <span ng-show="orderByField == 'attributeName'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="orderByField='attributeValue'; reverseSort = !reverseSort">
          Attribute Value <span ng-show="orderByField == 'attributeValue'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="issuer in issuers | limitTo:5|orderBy:orderByField:reverseSort">
       		  <td>{{issuer.issuerName}}</td>
			  <td>{{issuer.entityName}}</td> 
			  <td>{{issuer.attributeName}}</td>
			  <td>{{issuer.attributeValue}}</td>
			</tr>
    </tbody>
  </table>
</section>
		<br>
		<input type="button" onclick="tableToExcel('issuerList', 'Issuer List')" value="Export to Excel">
</div> 
