<!-- <h2>Report1</h2>
<h4>
  {{report.r}}
</h4> -->
<h4>Search Transaction messages</h4>
<form name="searchTM"> 
		PartnerID : 
			<input type="text" style="width: 100px" id="partnerID" ng-model="partnerID" required> 	
			<br>
	
	 	Select date and time : From - 
	 		<input 	type="datetime-local" 
	 				id="fromInput" 
	 				name="frominput" 
	 				ng-model="fromValue"
      				placeholder="yyyy-MM-ddTHH:mm" 
      				min="2001-01-01T00:00" 
      				required />
	  					<span class="error" ng-show="searchTM.frominput.$error.required">
	      				Required!</span>
	  					<span class="error" ng-show="searchTM.frominput.$error.datetimelocal">
	      				Not a valid date!</span>
      		 - To - 
	 		<input 	type="datetime-local" 
	 				id="toInput" 
	 				name="toinput" 
	 				ng-model="toValue"
      				placeholder="yyyy-MM-ddTHH:mm" 
      				max="2014-08-31T00:00"
      				ng-change="comDate()" 
      				required />
			  			<span class="error" ng-show="searchTM.toinput.$error.required">
			      		Required!</span>
			  			<span class="error" ng-show="searchTM.toinput.$error.datetimelocal">
			      		Not a valid date!</span>
			      		
	 <div class="col-md-3">
		<button id="searchTM" ng-disabled="searchTM.$invalid" ng-click="search()" value="Search">Search</button>
	 </div>
  
</form>
      		
 <!-- conditional content -->
<div ng-hide="!messages">
Records for Partner ID <b>"{{partnerID}}" </b>from <i>{{fromValue | date:'short'}}</i> to <i>{{toValue | date:'short'}}</i> :    
<br>
<section ng-controller="SortController">
  <span class="label">Ordered By: {{orderByField}}</span><br><br>
  <table id="transactMesgList" class="table table-bordered"><!--  border="1">-->
    <thead>
      <tr>
        <th>
          <a href="" ng-click="orderByField='mesgid'; reverseSort = !reverseSort">
         Message ID <span ng-show="orderByField == 'mesgid'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="orderByField='transctID'; reverseSort = !reverseSort">
          Transaction ID <span ng-show="orderByField == 'transctID'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="orderByField='mesgType'; reverseSort = !reverseSort">
          Message Type <span ng-show="orderByField == 'mesgType'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="orderByField='mesgTxt'; reverseSort = !reverseSort">
          Message Text <span ng-show="orderByField == 'mesgTxt'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="orderByField='type'; reverseSort = !reverseSort">
          Category <span ng-show="orderByField == 'type'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="orderByField='transactTime'; reverseSort = !reverseSort">
          Transaction Time <span ng-show="orderByField == 'transactTime'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="orderByField='sendingPartner'; reverseSort = !reverseSort">
          Sending Partner <span ng-show="orderByField == 'sendingPartner'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      	<tr ng-repeat="mesg in messages |orderBy:orderByField:reverseSort">
       		  <td>{{mesg.mesgid}}</td>
			  <td>{{mesg.transctID}}</td> 
			  <td>{{mesg.mesgType}}</td>
			  <td>{{mesg.mesgTxt}}</td>
			  <td>{{mesg.type}}</td> 
			  <td>{{mesg.transactTime}}</td>
			  <td>{{mesg.sendingPartner}}</td>
		</tr>
    </tbody>
  </table>
</section>

		<br>
		<input type="button" onclick="tableToExcel('transactMesgList', 'Transaction Messages List')" value="Export to Excel">
</div> 
		